
<h1><%= @task.title %></h1>
<h2><%= @task.details %> </h2>


<%= link_to "Edit task", edit_path(@task)  %> <br>
<i class="fas fa-trash"><%= link_to 'Delete', task_path(@task), method: :delete, data: {confirm: "Are you sure?"} %></i> <br>
<%= link_to "All Tasks", tasks_path %>
